/* import font inter from google fonts  */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* universal style  */
* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: white;
}

body {
    background-color: #1A0B2E;
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    /* border: 2px solid red;  */
}

/* its nav-bar style section  */

#header-container>.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12.5rem;
    padding-right: 12.5rem;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
}



.web-title>img {
    width: 13.69rem;
    height: 2rem;
}

.nav-list>.nav-option {
    display: flex;
    list-style-type: none;
    gap: 2rem;

}

.nav-option>li>a {
    text-decoration: none;
    font-size: 1rem;
}


.nav-btn {
    padding: .8rem;
    display: flex;
    align-items: center;
    gap: .3rem;
    background: transparent;
    border: none;
    border-radius: 1.5rem;


    background: #F7E93F;
    background: linear-gradient(8deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 0.56) 100%);
    border-radius: 25;
    font-size: 1.25rem;
    font-weight: 600;


}

.nav-btn>a {
    text-decoration: none;
}


.humburger {
    display: none;
}


/* its hero/banner style section.......  */

#hero-section {
    /* border: 2px solid red;  */
    background-color: white;
    background: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 6.25rem 32.5rem;
    margin: 0 auto;

}

.hero-img {


    text-align: center;
    position: relative;
    /* border: 2px solid blue;  */
}

.hero-microphone {
    position: absolute;
    left: 40%;
    top: 23%;

}

.hero-img>p {
    position: absolute;
    background-color: #00FF88;
    color: black;
    font-size: 1.125rem;
    font-weight: 500;
    padding: .5rem 1rem;
    border-radius: 1rem;
    margin-left: 22rem;
    margin-top: .75rem;
    box-shadow: 0 3px 27px #00FF88;
    border: none;

}


.hero-text {
    text-align: center;
}

.hero-text>h1 {
    margin-top: 2.5rem;
    margin-bottom: .5rem;
}

.hero-text>p {
    margin-bottom: 1.5rem;
}

.hero-btn {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.hero-text>h1 {
    font-size: 3.75rem;
    font-weight: 700;
}

.hero-text>p {
    font-size: 1rem;
    font-weight: 400;
}

.subs-btn {

    background: transparent;
    border: 1px solid #00FF88;


}

.subs-btn>a {
    color: #00FF88;

    font-size: 1rem;
}

/* it is main section about part  */

#main-section-one {

    padding: 3.125rem 12.5rem 0 12.5rem;
    /* margin: 0 auto;  */
}

.main-about {

    display: grid;
    text-align: center;
}

.main-about>h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.main-about>p {
    font-size: 1rem;
    font-weight: 300;
}

.hr-line {
    margin-top: 5rem;
    margin-bottom: 5rem;
    border: 1px solid rgba(255, 255, 255, 0.181);
}

.rating-card {
    display: grid;
    grid-template-columns: repeat(4,4fr);
    margin-bottom: 7.5rem;
    text-align: center;
    gap: 5rem;
}

.rating-card>.card>h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 1rem;

}

.rating-card>.card>p {

    font-size: 1rem;
    font-weight: 300;

}

/* it is choose techwave section  */

#main-section-two {
    padding: 7.5rem 12.5rem 7.5rem 12.5rem;
    background-color: #230E3D ;
    /* border: 1px solid red;  */
}

#main-section-two>h1 {
    font-size: 3rem;
    margin-bottom: 2.5rem;
    text-align: center;
}
/* card  */

.choosetechwave-card {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 1.875rem;
}

.chosse-1 {
    align-content: center;
    grid-row: span 2;
}

.chosse-2 {
    grid-column: span 2;
}

.choose-card {        
    border-radius: 2.5rem;
    background-color: #351165 ;
    padding: 2.5rem;
}

.choose-card>img {
    margin-bottom: 1rem;

}

.choose-card>h4 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;

}

.choose-card>p {
    color: rgba(255, 255, 255, 0.668);
    font-size: 1rem;
    font-weight: 200;
}






































/* For mobile screen  */
@media screen and (max-width:576px) {
    /* its nav mobile screen section  */

    #header-container>.nav-container {
        padding: 1.25rem;
    }

    .web-title>img {

        width: 8.56rem;
        height: 1.25rem;
    }

    .humburger {
        display: inline;
    }

    .nav-list,
    .btn {
        display: none;
    }


    /* It is for hero/banner screen section  */

    #hero-section {
        padding: 2.5rem 1.25rem;
        width: 29.75;
        height: 29.1rem;
        margin: 0 auto;

    }

    .hero-img {
        width: 25rem;
        margin: 0 auto;

    }

    .hero-circle {
        width: 13.5rem;
        height: 13.5rem;

    }

    .hero-microphone {
        width: 3.9rem;
        height: 5.375rem;
        margin-left: .5rem;
        margin-top: .5rem;
    }

    .hero-img>p {

        margin-left: 252px;
    }

    .hero-text>h1 {
        font-size: 2.5rem;
    }

    /* it is main about section  */

    #main-section-one {
        padding: 2.5rem 1.25rem;
    }

    .rating-card>.card>h1 {
        font-size: 2.5rem; 
    }

    .rating-card {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        margin-bottom: 1rem; 

    }

    .main-about>h2 {
        font-size: 2rem; 
    }

    /* its main section two mobile screen for choose techwave  */

    #main-section-two {
        padding: 2.5rem 1.25rem;
    }

    #main-section-two>h1 {

        font-size: 2rem;
    }

    .choosetechwave-card {
    /* display: grid;  */
    grid-template-columns: repeat(1,1fr);
    /* grid-template-rows: repeat(3,1fr);  */
    gap: 1rem;
    }

    .choose-card {
        align-content: center;
        padding: 1.5rem;
        grid-column: span 1;
        grid-row: span 1;
    }


}